body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    font-family: 'Montserrat',sans-serif;
}

h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 70px;
    font-size: 20px;
    color: plum;
}

a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    border: 3px solid white;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

a:before {
    content: '👻 BoOooOo! 👻';
    color: rgb(226, 210, 247);
    background-color: #71089b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    letter-spacing: 2px;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;

    transform:  translateY(-100%);
    transition:  all .5s;
}

a:hover::before {
    transform: translateY(0);
}