body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(211, 248, 200, 0.938);
}

h1 {
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
    background: url(bg-01.jpg);
    -webkit-background-clip: text;
    color: transparent;
    animation: text-background 20s linear infinite;
}

h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 70px;
    color: rgb(41, 1, 53);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

@keyframes text-background
{
    from {background-position: 0 0}

    to {background-position: 100% 100%}
}