body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    font: 700 30px Lato;
    color: whitesmoke;
    background: #181818;
    width: 50%;
    
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;

}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background-color: #ccc;
}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
}

ul li:hover span {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .1); /*Fará uma leve sombra em cima dos ícones*/
}

ul li:hover span:nth-child(7) {
    transform: translate(60px, -60px);
    opacity: 1;
}

ul li:hover span:nth-child(6) {
    transform: translate(50px, -50px);
    opacity: 1;
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}
ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}
ul li:hover span:nth-child(1) {
    transform: translate(0,0);
    opacity: .2;
}

/*COLORS */

ul li:nth-child(1) span 
{
    background: #3b5999; 
}

ul li:nth-child(2) span
{
    background: #55acee;
}

ul li:nth-child(3) span 
{
    background: #dd4b39;
}

ul li:nth-child(4) span 
{
    background: #0077b5;
}

ul li:nth-child(5) span 
{
    background: #e4405f;
}

ul li:nth-child(6) span 
{
    background: #000000;
}

ul li:nth-child(7) span 
{
    background: #001935;
}

footer p {
    position: absolute;
    bottom: 40px;
    font: 700 12px Lato;
    color: #181818;
    
}

