body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #b7999c;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: absolute;
    top: 100px;
    font: 700 30px 'Jura';
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #071013;
    border-radius: 50%;
    animation: chase 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

span:nth-child(2)
{
    animation-delay: 0.7s;
    background-color: #dfe0e2;
    
}

span:nth-child(1)
{
    animation-delay: 1.4s;
    background-color: #eb5160;
    
}

@keyframes chase 
{
    0% {top: 0; left: 0;}

    12.5% { top: 0; left: 50%;}

    25% {top: 0; left: 50%}

    37.5% {top: 50%; left: 50%;}

    50% {top: 50%; left: 50%;}

    62.5% {top: 50%; left: 0;}

    75% {top: 50%; left: 0;}

    82.5% {top: 0; left: 0;}

    100% {top: 0; left: 0;}
}